<div class="body">
  <div class="container">
    <h1>Inline code</h1>
    For example, <code>&lt;section&gt;</code> should be wrapped as inline.
  </div>
  <div class="container">
    <h1>Code block</h1>
    <code><code>&lt;p&gt;Sample text here...&lt;/p&gt;
        &lt;p&gt;And another line of sample text here...&lt;/p&gt;
      </code></code>
  </div>
  <div class="container">
    <h1>Variables</h1>
    <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
  </div>
  <div class="container">
    <h1>User Input</h1>
    To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
    To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
  </div>
  <div class="container">
    <h1>Sample output</h1>
    <samp>This text is meant to be treated as sample output from a computer program.</samp>
  </div>
</div>
