<div class="body">
  <div class="container">
    <h1 class="text-center">Border</h1>
    <h3 class="text-center">Additive</h3>
    <div class="row">
      <span class="border">
        <div>test</div>
      </span>
      <span class="border-top">
        <div>test</div>
      </span>
      <span class="border-right">
        <div>test</div>
      </span>
      <span class="border-bottom">
        <div>test</div>
      </span>
      <span class="border-left">
        <div>test</div>
      </span>
    </div>
    <h3 class="text-center">Substractive</h3>
    <div class="row">
      <span class="border-0">
        <div>test</div>
      </span>
      <span class="border-top-0">
        <div>test</div>
      </span>
      <span class="border-right-0">
        <div>test</div>
      </span>
      <span class="border-bottom-0">
        <div>test</div>
      </span>
      <span class="border-left-0">
        <div>test</div>
      </span>
    </div>
    <h1 class="text-center">Border color</h1>
    <div class="row">
      <span class="border border-primary">
        <div>test</div>
      </span>
      <span class="border border-secondary">
        <div>test</div>
      </span>
      <span class="border border-success">
        <div>test</div>
      </span>
      <span class="border border-danger">
        <div>test</div>
      </span>
      <span class="border border-warning">
        <div>test</div>
      </span>
      <span class="border border-info">
        <div>test</div>
      </span>
      <span class="border border-light">
        <div>test</div>
      </span>
      <span class="border border-dark">
        <div>test</div>
      </span>
      <span class="border border-white">
        <div>test</div>
      </span>
    </div>
    <h1 class="text-center">Border radius</h1>
    <div class="row">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-top">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-right">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-bottom">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-left">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-circle">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-pill">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-0">
      <h1 class="text-center">sizes</h1>
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-sm">
      <img src="assets/bootstrap.svg" width="64px" height="64px" alt="..." class="rounded-lg">
    </div>
  </div>
</div>
