@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.body {
  min-height: 100vh;
}

.breakpoints {
  display: none;
}

.row {
  div {
    text-align: center;
    background-color: azure;
    border-style: solid;
  }
}

.container,
.container-fluid,
.containerless {
  padding-top: 3rem;
}

.alignment {
  .row {
    margin-top: 1rem;
    background-color: darkgray;
    min-height: 10rem;
  }
}

// mixins
.example-container {
  background-color: aliceblue;
  width: 800px;
  @include make-container();
}

.example-row {
  @include make-row();
}

.example-content-main {
  border-style: solid;
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.example-content-secondary {
  border-style: solid;
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}
