:host {
    text-align: center;
    display: flex;
    background-color: #333;
    color: white;
    height: 100vh;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.masthead-brand {
    float: left;
}

.nav-masthead {
    float: right;

    .active {
        color: #fff;
        border-bottom-color: #fff;
    }
}

.nav-link {
    color: rgba(255, 255, 255, .5);
    padding: 0.25rem 0;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-weight: 700;
}

.cover {
    padding: 0 1.5rem;
}

.btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.btn-secondary {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

.lead {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
