<div class="body">
  <div class="container">
    <div class="py-5 text-center">
      <h1>HOME</h1>
    </div>
    <a class="link" routerLink="/offcanvas">offcanvas</a>
    <a class="link" routerLink="/floating-labels">floating-labels</a>
    <a class="link" routerLink="/navbar-bottom">navbar-bottom</a>
    <a class="link" routerLink="/navbar-fixed">navbar-fixed</a>
    <a class="link" routerLink="/navbar-static">navbar-static</a>
    <a class="link" routerLink="/navbars">navbars</a>
    <a class="link" routerLink="/jumbotron">jumbotron</a>
    <a class="link" routerLink="/grid">grid</a>
    <a class="link" routerLink="/starter-template">starter-template</a>
    <a class="link" routerLink="/sticky-footer-navbar">sticky-footer-navbar</a>
    <a class="link" routerLink="/sticky-footer">sticky-footer</a>
    <a class="link" routerLink="/sign-in">sign-in</a>
    <a class="link" routerLink="/dashboard">dashboard</a>
    <a class="link" routerLink="/blog">blog</a>
    <a class="link" routerLink="/carousel">carousel</a>
    <a class="link" routerLink="/cover">cover</a>
    <a class="link" routerLink="/product">products</a>
    <a class="link" routerLink="/checkout">checkout</a>
    <a class="link" routerLink="/pricing">pricing</a>
    <a class="link" routerLink="/album">album</a>
    <a class="link" routerLink="/layout">layout</a>
    <a class="link" routerLink="/typography">typography</a>
    <a class="link" routerLink="/code">code</a>
    <a class="link" routerLink="/images">images</a>
    <a class="link" routerLink="/tables">tables</a>
    <a class="link" routerLink="/figures">figures</a>
    <a class="link" routerLink="/alerts">alerts</a>
    <a class="link" routerLink="/badges">badges</a>
  </div>
</div>
